<h2>Оформлення заказу</h2>
<form method="post">
    <label>Телефон:</label><br />
    <input type="number" name="phone" /><br /><br />
    <label>Адреса:</label><br />
    <input type="text" name="adreess" /><br /><br />
    <input type="submit" value="Отправить" />
</form>